.files a {
  color: inherit;
}

.files .fa {
  font-size: 20px;
  margin-right: 5px;
}

.files .file {
  margin-bottom: 5px;
}

.breadcrumb {
  background: none;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
