.files a {
  color: inherit;
}

.files .fa {
  font-size: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.files .file {
  margin-bottom: 5px;
}

.breadcrumb {
  background: none;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}


html, body {
  height: 100%;
}

waxe-app,
router-outlet + ng-component,
.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.flex-1 {
  -webkit-flex: 1;
  flex: 1;
}


/* Because of flex */
.container-fluid {
  width: 100%;
}
