<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">Waxe</a>
  <ul class="navbar-nav mr-auto" *ngIf="authService.loggedUser">
    <li class="nav-item dropdown" ngbDropdown>
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
        Versioning
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
        <a class="dropdown-item" [routerLink]="urlService.URLS.versioning.status">Status</a>
        <a class="dropdown-item" [routerLink]="urlService.URLS.versioning.update">Update</a>
      </div>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown" *ngIf="urlService.previewUrl && fileService.currentPath">
      <a class="nav-link" [href]="urlService.previewUrl + fileService.currentPath" target="_preview">Preview</a>
    <li class="nav-item dropdown" ngbDropdown  *ngIf="authService.loggedUser">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
        {{ authService.loggedUser.username }}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </li>
  </ul>
</nav>
<waxe-messages></waxe-messages>
<router-outlet></router-outlet>
<ng-template ngbModalContainer></ng-template>
